<?xml version="1.0"?>
<config>
	<modules>
		<ITwebexperts_Itwebcommon>
			<version>0.1.0</version>
		</ITwebexperts_Itwebcommon>
	</modules>
	<global>
		<models>
			<importexport>
				<rewrite>
					<export_entity_product>ITwebexperts_Itwebcommon_Model_ImportExport_Export_Entity_Product</export_entity_product>
					<import_entity_product>ITwebexperts_Itwebcommon_Model_ImportExport_Import_Entity_Product</import_entity_product>
					<import_entity_product_type_configurable>ITwebexperts_Itwebcommon_Model_ImportExport_Import_Entity_Product_Type_Configurable</import_entity_product_type_configurable>
					<import_entity_product_type_grouped>ITwebexperts_Itwebcommon_Model_ImportExport_Import_Entity_Product_Type_Grouped</import_entity_product_type_grouped>
					<import_entity_product_type_simple>ITwebexperts_Itwebcommon_Model_ImportExport_Import_Entity_Product_Type_Simple</import_entity_product_type_simple>
				</rewrite>
			</importexport>
            <sales>
                <rewrite>
                    <order>ITwebexperts_Itwebcommon_Model_Sales_Order</order>
                    <order_payment>ITwebexperts_Itwebcommon_Model_Sales_Order_Payment</order_payment>
                </rewrite>
            </sales>
		</models>
        <blocks>
            <sales>
                <rewrite>
                    <!--<adminhtml_recurring_profile>ITwebexperts_Itwebcommon_Block_Adminhtml_Sales_Recurring_Profile</adminhtml_recurring_profile>-->
                    <adminhtml_recurring_profile_grid>ITwebexperts_Itwebcommon_Block_Adminhtml_Sales_Recurring_Profile_Grid</adminhtml_recurring_profile_grid>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <itwebcommon>
                <class>ITwebexperts_Itwebcommon_Helper</class>
            </itwebcommon>
        </helpers>
    </global>
</config>
